@media only screen and (min-width: 700px) {

  * {
     margin: 0px;
     padding: 0px;
  }

  body {
    font-family: Helvetica;
    background-color: #6B8FAD;
  }

  /** HEADER **/
  .header {
    background-color: #6B8FAD;
    height: 90px;
    width: 100%;
    padding: 30px 0px 20px 0px;
    position: fixed;
    flex-wrap: wrap;
    z-index: 10;
  }

  .header h1 {
    color: white;
    font-size: 50px;
    margin: auto;
    padding-bottom: 15px;
    text-align: center;
  }

  .header .navbar {
    color: white;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 15px;
  }

  .header .navbar a {
    color: white;
    text-decoration: none;
  }

  .header .navbar a:hover {
    font-size: 16px;
  }

  /** BODY **/
  #one {
    background-color: white;
    color: #6B8FAD;
    padding-top: 200px;
    padding-bottom: 150px;
    height: auto;
  }

  #two {
    background-color: #AD7B6B;
    color: white;
    height: auto;
    padding-top: 80px;
    padding-bottom: 120px;
  }

  #three {
    background-color: white;
    color: #6B8FAD;
    height: auto;
    padding-top: 80px;
    padding-bottom: 120px;
  }

  .section {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    text-align: justify;
    line-height: 30px;
  }

  .section h1 {
    padding-left: 30%;
    text-align: left;
    font-size: 35px;
    padding-bottom: 20px;
  }

  .section h2 {
    font-size: 25px;
    text-align: justify;
    padding: 0px 15px;
    padding-left: 30%;
  }

  .section p {
    padding-left: 30%;
    padding-right: 30%;
    font-size: 20px;
    display: flex;
    font-weight: 100;
  }

}
