* {
   margin: 0px;
   padding: 0px;
}

body {
  font-family: Helvetica;
}

/** HEADER **/
.header {
  background-color: #6B8FAD;
  height: 90px;
  width: 100%;
  padding: 25px 0px 30px 0px;
  position: fixed;
  flex-wrap: wrap;
}

.header h1 {
  color: white;
  font-size: 50px;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
}

.header .navbar {
  color: white;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 0px;
  word-spacing: 0px;
}

.header .navbar a {
  color: white;
  text-decoration: none;
  padding: 0px 10px 10px 10px;
  display: inline-block;
}

/** BODY **/
#one {
  background-color: white;
  color: #6B8FAD;
  padding-top: 140px;
  height: 450px;
}

#two {
  background-color: #AD7B6B;
  color: white;
  height: 1300px;
}

#three {
  background-color: white;
  color: #6B8FAD;
  height: 500px;
}

.section {
  width: 100%;
  text-align: justify;
  line-height: 30px;
}

.section h1 {
  text-align: center;
  padding-top: 70px;
  font-size: 35px;
  padding-bottom: 20px;
}

.section h2 {
  font-size: 25px;
  text-align: center;
}

.section p {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
  display: flex;
  font-weight: 100;
}
